<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Delete', project_proposal_comment_path(@proposal.project_id, @proposal, comment), method: :delete, data: { confirm: 'Are you sure?'} %>
</p>
