<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <li> <%= link_to project.name, project_path(project) %></li>
  <% end %>
</ul>
<%= link_to 'New Project', new_project_path(@project)%><br>
<%= link_to 'Users', users_path %>
