<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8", http-equiv="content-type">
    <title>Proposal Email</title>
  </head>
  <body>
    <h1>We are excited to get started on <%= @proposal.name %> for <%= @project.name %></h1>

    <p>Please follow this link [proposal.slug??] to review our proposal overview.</p>

    <ol>
      You have two options:
      <h1>We are excited to get started on </h1>
      <li>Submit the proposal now and we'll begin work on <%= @proposal.proposed_start_date %></li>
      <li>Submit comments and/or questions about the proposal for Lunar Collective top review.</li>
    </ol>
  </body>
</html>
