@import "settings.scss";

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-purple;

  a {
    color: $primary;
    &:hover {
      color: $deep-purple;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
