@import "settings.scss";

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="checkbox"] {
  width: 4%;
}

label[for="user_email"] {
  display: block;
}

input {
  height: auto !important;
}
