@import "settings.scss";

.container {

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    float: left;

    .header-logo {
      display: flex;
      height: 10%;
      margin: 5px 10px;

      img {
        height: 3.5rem
      }
    }
  }
}
