@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$lunar-font: "Montserrat", sans-serif;

/* colors */
$primary: #2A2743;
$light-purple: #CFCFE3;
$deep-purple: #3A1D6E;
$purple: #9B84B5;
$white: #fff;
$text-teal: #A2D9CF;
$button-background: #b4e0d8;
$button-text: #18181B;
